html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.contain {
    margin: 0px 100px !important;
    width: 90vw !important;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px gray;
    width: 100%;
    height: 100%;
}

.modal-content {
    position:absolute;
    top : 20%;
    left : 40%;
    width: 420px;
}

.edit-modal-content {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80vw;
    background:white;
    border :1px solid red;
}

.close {
    float: right;
    cursor: pointer;
    font-size: 20px;
}

.askHead {
    justify-content: space-between;
    display: flex;
    align-items:baseline;
}

.askHead p{
    width : 20rem;
}

.w-83 {
    width: 90vw;
}

#askModel{
    border : 1px solid red;
}
.width60{
    width : 70%;
}

.gobtn{
    margin-left:10px;
}